@page "/acessonegado"

@using System.Security.Claims
@inject NavigationManager Navigation

<Titulo Nome="Acesso Negado"/>


<div>
    <p class="linha">Você não tem permissão para acessar esta página. Clique no botão abaixo para voltar à página inicial.</p>
    <Botao Nome="Voltar ao Menu Inicial" Url="/menuinicial" />
</div>



@code {
}
