.IniciarSessao {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.CodigoSenha {
    margin-top: 5%;
}

.Senha {
    margin-top: 1%;
}

.Lembrar {
    margin-top: 1%;
}

.Botao {
    display: flex;
    justify-content: flex-end; 
    margin-top: 1rem; 
}

.Erro {
    margin-top: 2%;
    color: red;
    font-size: 0.9em;
    height: 1.5em; 
    display: flex;
    align-items: center;
    visibility: hidden; 
}

    .Erro:has(p) {
        visibility: visible; 
    }

.Validation {
    min-height: 25px;
    font-size: 15px;
    color: red;
    margin-top: 2px;
    display: flex;
    align-items: center;
}