@using BMManagerLN
@using BMManagerLN.SubMoveis
@using BMManagerLN.SubMateriais
@inject APIBMManagerLN ln

<div class="EtapaMontagem">
    @if (Etapa == null)
    {
        <p>A carregar etapa ...</p>
        <img src="/imagens/Imagem.png" />
    }
    else
    {
        <div class="ImagemEtapa">
            @if (_imagemEtapa == null)
            {
                <img src="/imagens/Imagem.png" />
            }
            else
            {
                <img src="@_imagemEtapa" />
            }
        </div>
        <div class="MateriaisNecessarios">
            @if (_materiais == null)
            {
                <img src="/imagens/Imagem.png" />
                <p>A carregar materiais ...</p>
            }
            else
            {
                foreach (KeyValuePair<Material, int> materialQuantidade in _materiais)
                {
                    Material material = materialQuantidade.Key;
                    int quantidade = materialQuantidade.Value;
                    string imagem = ln.ByteArrayParaImagem(material.Imagem);
                    <div class="Material">
                        <img src="@imagem" />
                        <span>X @quantidade</span>
                    </div>
                }
            }
        </div>
    }
</div>

@code {
    [Parameter]
    public Etapa Etapa { get; set; }
    [Parameter]
    public string? _imagemEtapa {get;set;}
    [Parameter]
    public Dictionary<Material, int>? _materiais {get;set;}
}