@page "/encomendas/adicionar_montagens/erro"

@inject NavigationManager Navigation

<Titulo Nome="Aviso"/>


<div>
    <p class="linha">Não é possível adicionar montagens que não sejam necessárias na encomenda, uma ou mais montagens não foram adicionadas.</p>
    <Botao Nome="Ok" Url="/encomendas" />
</div>



@code {
}
