body {
}

.InformacoesRegisto {   
}

.corpo {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;

}

.esp {
    height: 20vh; /* Define a altura máxima como 100% da altura da janela de visualização */
}

.Botoes {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20000px;
    margin-top:0;
    bottom: 0; /* Posiciona os botões no final da página */
    width: 100%; /* Faz os botões ocuparem toda a largura */
    margin: 0; /* Remove qualquer margem que atrapalhe */
    padding: 10px; /* Ajuste de espaçamento, opcional */
}

.linha {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.linha h4 {
    width: 100px; /* Define uma largura fixa para o primeiro elemento */
    margin: 0; /* Remove a margem padrão do <h4> */
}

.linha InputText {
    flex: 1; /* Permite que o campo de entrada se ajuste ao restante do espaço */
}

.linha-moveis {
    height: 100px;
    display:flex;
    flex-direction: column;
}
.Validation {
    min-height: 25px;
    font-size: 15px;
    color: red;
    display: flex;
    align-items: center;
    padding-left: 100px;
}