@page "/montagens/cancelar/{_codMontagem:int}"
@using BMManagerLN
@using BMManagerLN.SubMontagens
@inject APIBMManagerLN ln
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Administracao,Montagem")]

<Titulo Nome="Cancelar Montagem" />

<div class="Cancelar">
    <div class="CancelarMontagem">
        <h4>Tem a certeza que pretende cancelar a montagem?</h4>
    </div>
    <div class="Botoes">
        <Botao Nome="Sim" Metodo="CancelarMontagem" />
        <Botao Nome="Não" Url="montagens" />
    </div>
</div>

@code {
    private int _codMontagem;

    private async Task CancelarMontagem()
    {
        await ln.CancelarMontagem(_codMontagem);
        NavigationManager.NavigateTo("/montagens/");
    }
}
