@page "/montagens/continuar"
@using BMManagerLN
@using BMManagerLN.SubMontagens
@inject APIBMManagerLN ln
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Administracao,Montagem")]

<Titulo Nome="Continuar Montagem" />

<div class="Continuar">
    <div class="Botao">
        <Botao Nome="Voltar" Url="montagens" />
    </div>
</div>

@code {
    private string _codMontagem;
    private Montagem _montagem;
}
