.InformacoesIniciar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .InformacoesIniciar .linha {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 2%;
    }

        .InformacoesIniciar .linha .Movel {
            display: flex;
        }

        .InformacoesIniciar .linha .Movel h4 {
            padding-right: 2%;
        }

        .InformacoesIniciar .linha p {
            color: red;
        }

            .InformacoesIniciar .linha p:nth-child(2) {
                position: absolute;
                top: 120%;
            }

            .InformacoesIniciar .linha p:nth-child(3) {
                position: absolute;
                top: 160%;
            }

    .InformacoesIniciar .Botoes {
        display: flex;
        justify-content: space-between;
        padding-top: 20%;
    }

    .Confirmacao {
        display: flex;
        justify-content: space-between;
        padding-top: 20%;
    }

        .Confirmacao p {
            font-size: 1.5rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
