@page "/montagens/montar/{_codMontagem:int}"
@rendermode InteractiveServer
@using BMManagerLN
@using BMManagerLN.SubMontagens
@using BMManagerLN.SubMoveis
@inject APIBMManagerLN ln
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider asp


<div class="MontagemDeEtapa">
    @if (_etapa == null || _montagem == null)
    {
        <p>A carregar etapa ...</p>
    }
    else
    {
        <div class="Etapa">
            <EtapaMontagem Etapa="@_etapa" />
            <div class="Botoes">
                <Botao Nome="Sair" />
                <Botao Nome="Terminar Etapa" />
            </div>
        </div>
    }
</div>


@code {
    [Parameter]
    public int _codMontagem { get; set; }
    private Montagem? _montagem;
    private Etapa? _etapa;

    protected override async Task OnInitializedAsync()
    {
        _montagem = await ln.GetMontagem(_codMontagem);
        _etapa = await ln.GetEtapa(_montagem.Etapa);
    }
}
