@page "/materiais/visualizar/{id:int}"
@using BMManagerLN
@using BMManagerLN.SubMateriais
@inject APIBMManagerLN ln
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Administracao,Armazem,Modelacao,Montagem")]

<Titulo Nome="Visualizar material" />
@if (material == null) {
    <h4> Wait </h4>
}
else {
    <div class="Visualizar">
        <div class="Montagem">
            <div class = "Informacoes">
                <p>Número<span>@material.Numero</span></p>
                <p>Nome<span>@material.Nome</span></p>
                <p>Quantidade<span>@material.Quantidade</span></p>
            </div>
        </div>

        <div>
            <img src=@imagem />
        </div>
        <div class = "esp"> </div>
        <div class="Botoes">
            <div> </div>
            <Botao Nome="Voltar" Url="materiais" />
        </div>
    </div>
}   

@code {
    [Parameter]
    public int Id { get; set; }
    private string imagem { get; set; }

    private Material material;
    protected override async Task OnInitializedAsync()
    {
        material = await ln.GetMaterial(Id);
        imagem = ln.ByteArrayParaImagem(material.Imagem);
    }
}