@page "/materiais/visualizar/{id:int}"
@using BMManagerLN
@using BMManagerLN.SubMateriais
@inject APIBMManagerLN ln
@inject NavigationManager NavigationManager

<Titulo Nome="Visualizar material" />
@if (material == null) {
    <h4> Wait </h4>
}
else {
    <div class="InformacoesRegisto">
        <div class = "linha">
            <h4>Número</h4> 
            <div class = "inf">@material.Numero</div>
            <h4>Nome</h4>
            <div class = "inf">@material.Nome</div>
        </div>
        <div class = "linha">
            <h4>Quantidade</h4>
            <div class = "inf">@material.Quantidade</div>
        </div>
        <div>
            <img src=@imagem />
        </div>
        <div class="Botoes">
            <Botao Nome="Voltar" Url="materiais" />
        </div>
    </div>
}   

@code {
    [Parameter]
    public int Id { get; set; }
    private string imagem { get; set; }

    private Material material;
    protected override async Task OnInitializedAsync()
    {
        material = await ln.GetMaterial(Id);
        imagem = ln.ByteArrayParaImagem(material.Imagem);
    }
}