.Visualizar {
    padding-bottom: 5px;
}

.esp {
    height: 5vh; /* Define a altura máxima como 100% da altura da janela de visualização */
}

.Subtitulo {
    font-weight: bold;
}

.Botoes {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20000px;
    bottom: 0; /* Posiciona os botões no final da página */
    width: 100%; /* Faz os botões ocuparem toda a largura */
    margin: 0; /* Remove qualquer margem que atrapalhe */
    padding: 10px; /* Ajuste de espaçamento, opcional */
}

.Informacoes {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    margin: 5px 0; /* Adiciona espaço entre os parágrafos */
    margin-bottom: 20px;
    margin-top: 20px;
}

    .Informacoes p:nth-child(5), p:nth-child(7), p:nth-child(9) {
        grid-column: 2 / 4;
    }

    .Informacoes .CaixaInformacoes {
        grid-column: 1 / 4;
        width: max-content;
        margin-bottom: 10px;
        padding: 10px;
        padding-right: 2%;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        p {
            font-size: calc(1.275rem + .3vw);
            font-weight: bold;
        }
            span {
                font-weight: normal;
                margin-left: 10px;
            }

.Informacoes .CaixaUtilizados {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5px 0;
}

.Informacoes .CaixaPorUtilizar {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5px 0;
}

.Informacoes .CaixaFuncionarios {
    display: grid;
    grid-template-columns: auto auto;
    margin: 5px 0;
}
