.d-flex[b-6k4tj42anq] {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.navbar[b-6k4tj42anq] {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #161B33;
    /*border-bottom: 3px solid black;  Linha verde */
}