.IniciarSessao {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.esquema-senhas div {
    margin-top: 20px;
}

.Botoes {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20000px;
    bottom: 0; 
    width: 100%; 
    margin: 0; 
    padding: 10px; 
}

.ErroMensagem {
    color: red;
}