.button {
    font-size: 22px; /* Tamanho da fonte */
    padding: 10px 20px; /* Tamanho do botão (margens internas) */
    border-radius: 5px; /* Bordas arredondadas */
    border: none; /* Remover borda padrão */
    background-color: #161B33; /* Cor de fundo */
    color: #F1DAC4; /* Cor do texto */
    cursor: pointer; /* Cursor de clique */
    font-weight: bold;
    box-shadow: 0 2px #161b33b3;
}

    .button:hover {
        background-color: #8253ee; /*#474973;  Cor ao passar o mouse */
        box-shadow: 0 2px #161b3366;
        /*color: #8253ee;*/
    }

    .button:active {
        box-shadow: 0 0px;
        transform: translateY(2px);
    }
