@page "/terminarsessao"
@inject NavigationManager NavigationManager

<Titulo Nome="Terminar Sessão" />

<div class="TerminarSessao">
    <h1>Sessão terminada com sucesso</h1>
</div>

@code {
    [CascadingParameter]
    public HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        // Desconectar o usuário
        await HttpContext.SignOutAsync(Constants.AuthScheme);

        // Redirecionar para a página inicial
        NavigationManager.NavigateTo("/");
    }
}
