a {
    font-size: 24px;
    color:  #F1DAC4;/* #A69CAC;*/
    font-weight: bold;
    text-decoration: none;
}

a:not(.no-hover):hover {
    color: #8253ee; /* Muda para uma cor diferente ao passar o rato */
}
