@page "/moveis"
@using BMManagerLN
@using BMManagerLN.SubMoveis
@inject APIBMManagerLN ln

<Titulo Nome="Móveis" NomeBotao="Registar" UrlBotao="moveis/registar" />

<div class="Tabela">
    @if (_moveis == null)
    {
        <p>A carregar móveis ...</p>
    }
    else
    {
        <table>
            <thead class="TabelaCabecalho">
                <!-- Cabeçalho da tabela -->
                <tr>
                    <!-- Linha do cabeçalho -->
                    <!-- Header do cabeçalho -->
                    <th>Número</th>
                    <th>Nome</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody class="TabelaCorpo">
                <!-- Corpo da tabela -->
                @foreach (var movel in _moveis)
                {
                    <tr>
                        <!-- Linha da tabela -->
                        <!-- Data em cada linha da tabela -->
                        <td>@movel.Numero</td>
                        <td>@movel.Nome</td>
                        <td>@movel.Quantidade</td>
                        <td>
                            <Texto Nome = "Visualizar" Url = "moveis/visualizar"/>
                        </td>
                        <td>
                            <Texto Nome = "Modificar" Url = "moveis/modificar"/>
                        </td>
                        <!-- Falta Visualizar e Modificar -->
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
    private List<Movel>? _moveis;

    protected override async Task OnInitializedAsync()
    {
        _moveis = await ln.GetMoveis(); //trocar para método da lógica de negócio
    }
}
