@page "/moveis/visualizar/{_cod:int}"
@using BMManagerLN
@using BMManagerLN.SubMontagens
@using BMManagerLN.SubMoveis
@inject APIBMManagerLN ln
@inject NavigationManager NavigationManager
@attribute [Authorize(Roles = "Administracao,Montagem,Armazem,Recursos_Humanos")]

<Titulo Nome="Visualizar Móvel" />

<div class="Visualizar">
    @if (_movel == null)
    {
        <p>A carregar montagem ...</p>
    }
    else
    {
        <div class="Montagem">
            <div class="Informacoes">
                <p>Número<span>@_movel.Numero</span></p>
                <p>Nome<span>@_movel.Nome</span></p>
                <p>Quantidade<span>@_movel.Quantidade</span></p>
                <p><img src=@imagem /></p>
                @foreach(var etapa in _etapas) {
                    <p></p>
                    <p></p>
                    <p>Etapa @etapa.Key</p>
                    <p></p>
                    <p></p>
                    <p><img src=@ln.ByteArrayParaImagem(etapa.Value.Imagem)/></p>
                }
            </div>
        </div>
    }
    <div class="Botao">
        <Botao Nome="Voltar" Url="moveis" />
    </div>
</div>

@code {
    [Parameter]
    public int _cod { get; set; }
    private Movel _movel;
    private string imagem { get; set; }
    private Dictionary<int,Etapa>? _etapas;

    protected override async Task OnInitializedAsync()
    {
        _movel = await ln.GetMovel(_cod);
        _etapas = await ln.GetEtapasMovel(_cod);
        imagem = ln.ByteArrayParaImagem(_movel.Imagem);
    }
}